*{
    box-sizing: border-box;
}

body{
    max-width: 95% !important;
}

header{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;

    font-family: Arial, serif;

    font-size: 40px;
    text-align: center;

    border: black 1px solid;
    border-radius: 5px;

    box-shadow: 5px 5px rgb(22, 31, 39);

    margin-bottom: 20px;
    padding: 2px;
}

button{
    width: 120px;
    height: 52px;
}

.main_block{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.sidebar{
    border: 2px solid rgb(22, 31, 39);
    border-radius: 6px;
    padding: 10px;
    box-shadow: 5px 5px rgb(22, 31, 39);
    font-size: 17px;
}

.orig_graph{
    height: 60%;
    position: sticky;
    top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 65px;
}

.ge_settings{
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 65px;
}

input{
    width: 120px;
    height: 52px;
    text-align: center;
}

p{
    width: 60px;
    height: 26px;
    text-align: center;
}

.theme{
    width: 45px;
    height: 45px;
}
.theme_change{
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme_change:hover{
    cursor: pointer;
}
